## Trying out basic FIRE calculations

In [43]:
SIP = input()
SIP

 1

'1'

In [44]:
!pip install ipywidgets

Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.11/site-packages (8.1.1)
Requirement already satisfied: comm>=0.1.3 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (0.1.4)
Requirement already satisfied: ipython>=6.1.0 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (8.16.1)
Requirement already satisfied: traitlets>=4.3.1 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (5.11.2)
Requirement already satisfied: widgetsnbextension~=4.0.9 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (4.0.9)
Requirement already satisfied: jupyterlab-widgets~=3.0.9 in /opt/conda/lib/python3.11/site-packages (from ipywidgets) (3.0.9)
Requirement already satisfied: backcall in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (2.16.1)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets) (0.2.8)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six>=1.12.0 in /opt/conda/lib/python3.11/site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)

In [45]:
!jupyter nbextension enable --py widgetsnbextension --sys-prefix

usage: jupyter [-h] [--version] [--config-dir] [--data-dir] [--runtime-dir]
               [--paths] [--json] [--debug]
               [subcommand]

Jupyter: Interactive Computing

positional arguments:
  subcommand     the subcommand to launch

options:
  -h, --help     show this help message and exit
  --version      show the versions of core jupyter packages and exit
  --config-dir   show Jupyter config dir
  --data-dir     show Jupyter data dir
  --runtime-dir  show Jupyter runtime dir
  --paths        show all Jupyter paths. Add --json for machine-readable
                 format.
  --json         output paths as machine-readable json
  --debug        output debug information about paths

Available subcommands: dejavu events execute kernel kernelspec lab
labextension labhub migrate nbclassic nbconvert notebook run server
troubleshoot trust

Jupyter command `jupyter-nbextension` not found.

# Taking SIP input

In [46]:
import ipywidgets as widgets
# from IPython.display import display, VBox, HBox
from IPython.display import display
from ipywidgets import VBox, HBox 


# Create slider and manual input
sip_slider = widgets.IntSlider(
    value=20000,
    min=1000,
    max=200000,
    step=1000,
    description='Monthly SIP (â‚¹):',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='60%')
)

sip_input = widgets.BoundedIntText(
    value=20000,
    min=1000,
    max=200000,
    step=1000,
    description='Enter SIP (â‚¹):',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='40%')
)

# Display output label
sip_display = widgets.Label()

# Sync slider and manual input
widgets.jslink((sip_slider, 'value'), (sip_input, 'value'))

# Update display label on change
def update_display(change):
    sip_display.value = f"ðŸ‘‰ Your Monthly SIP is set to â‚¹{change['new']:,}"

sip_slider.observe(update_display, names='value')

# Display the UI
ui = VBox([
    HBox([sip_slider, sip_input]),
    sip_display
])
display(ui)

# Trigger initial display
sip_display.value = f"ðŸ‘‰ Your Monthly SIP is set to â‚¹{sip_slider.value:,}"

VBox(children=(HBox(children=(IntSlider(value=20000, description='Monthly SIP (â‚¹):', layout=Layout(width='60%'â€¦

# SIP table

In [47]:
import pandas as pd

# Get SIP value from the widget
monthly_sip = sip_slider.value
years = 30

# Prepare data for each year
data = []
for year in range(1, years + 1):
    data.append({
        "Year": year,
        "Monthly SIP (â‚¹)": monthly_sip,
        "Yearly SIP (â‚¹)": monthly_sip * 12
    })

# Convert to DataFrame
df_sip = pd.DataFrame(data)

# Format values
df_sip["Monthly SIP (â‚¹)"] = df_sip["Monthly SIP (â‚¹)"].map(lambda x: f"â‚¹{x:,.0f}")
df_sip["Yearly SIP (â‚¹)"] = df_sip["Yearly SIP (â‚¹)"].map(lambda x: f"â‚¹{x:,.0f}")

# Display
df_sip.style.set_caption("ðŸ“… Monthly & Yearly SIP Over 30 Years").set_table_styles([
    {'selector': 'caption', 'props': [('caption-side', 'top'), ('font-size', '16px'), ('font-weight', 'bold')]}
])

### Display lumpsum cell

In [48]:
import pandas as pd
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import VBox, HBox

# Input: Lumpsum amount widget
lumpsum_input = widgets.IntText(
    value=1200000,
    description='Total Lumpsum (â‚¹):',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='50%')
)
display(lumpsum_input)

# ROI Input Widget
roi_input = widgets.FloatSlider(
    value=10.0,
    min=5.0,
    max=15.0,
    step=0.1,
    description='Expected ROI (%):',
    readout_format='.1f',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='70%')
)

display(roi_input)

IntText(value=1200000, description='Total Lumpsum (â‚¹):', layout=Layout(width='50%'), style=DescriptionStyle(deâ€¦

FloatSlider(value=10.0, description='Expected ROI (%):', layout=Layout(width='70%'), max=15.0, min=5.0, readouâ€¦

In [41]:

# Get values
monthly_sip = sip_slider.value
total_lumpsum = lumpsum_input.value
print( total_lumpsum,'ROI:',roi_input.value)
years = 30
lumpsum_per_year = total_lumpsum / years
monthly_from_lumpsum = lumpsum_per_year / 12

# Prepare table
data = []
for year in range(1, years + 1):
    combined_monthly = monthly_sip + monthly_from_lumpsum
    yearly_sip = combined_monthly * 12
    data.append({
        "Year": year,
        "Monthly SIP (â‚¹)": round(monthly_sip),
        "Lumpsum/month (â‚¹)": round(monthly_from_lumpsum),
        "Combined Monthly Invest (â‚¹)": round(combined_monthly),
        "Yearly Total Invest (â‚¹)": round(yearly_sip)
    })

df_sip_lumpsum = pd.DataFrame(data)

# Format
for col in df_sip_lumpsum.columns[1:]:
    df_sip_lumpsum[col] = df_sip_lumpsum[col].map(lambda x: f"â‚¹{x:,.0f}")

# Display
df_sip_lumpsum.style.set_caption("ðŸ“… SIP + Lumpsum Spread Investment Table").set_table_styles([
    {'selector': 'caption', 'props': [('caption-side', 'top'), ('font-size', '16px'), ('font-weight', 'bold')]}
])

1200000 ROI: 12.5

In [42]:
# Parameters
monthly_sip = sip_slider.value
total_lumpsum = lumpsum_input.value
expected_annual_return = roi_input.value / 100
years = 30

# Precompute lumpsum and combined SIP
lumpsum_per_year = total_lumpsum / years
monthly_from_lumpsum = lumpsum_per_year / 12

# Track corpus
corpus = 0
data = []

for year in range(1, years + 1):
    combined_monthly = monthly_sip + monthly_from_lumpsum
    yearly_invest = combined_monthly * 12

    corpus = (corpus + yearly_invest) * (1 + expected_annual_return)

    data.append({
        "Year": year,
        "Monthly SIP (â‚¹)": round(monthly_sip),
        "Lumpsum/month (â‚¹)": round(monthly_from_lumpsum),
        "Yearly Investment (â‚¹)": round(yearly_invest),
        "Corpus (â‚¹)": round(corpus)
    })

# Make DataFrame
df_corpus = pd.DataFrame(data)

# Format values for display
for col in df_corpus.columns[1:]:
    df_corpus[col] = df_corpus[col].map(lambda x: f"â‚¹{x:,.0f}")

# Display styled table
df_corpus.style.set_caption("ðŸ“Š Yearly Investment with Compound Growth").set_table_styles([
    {'selector': 'caption', 'props': [('caption-side', 'top'), ('font-size', '16px'), ('font-weight', 'bold')]}
])